workflows-export/ExGOxv3mJe2fXBsvLz_Ek_Monitor_website_if_up_or_down.json
{
  "updatedAt": "2026-01-26T14:27:07.343Z",
  "createdAt": "2026-01-26T12:22:42.802Z",
  "id": "ExGOxv3mJe2fXBsvLz_Ek",
  "name": "Monitor website if up or down",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "http://www.nu.nl",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -640,
        176
      ],
      "id": "131180df-130b-42de-8d5a-ddf25febff1b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json[\"statusCode\"]}}",
              "operation": "equal",
              "value2": 202
            }
          ]
        }
      },
      "id": "ef9847fb-bed8-4bf4-8a81-50f590c57984",
      "name": "Is Site Up or Not?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -416,
        176
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "66eac781-e7a3-47c4-b19f-1d569c27b834",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "resource": "chatMessage",
        "chatId": {
          "__rl": true,
          "value": "19:4b592aeaac7244fab8f54e6b92b8927e@thread.v2",
          "mode": "list",
          "cachedResultName": "N8N Test Chat (group)",
          "cachedResultUrl": "https://teams.microsoft.com/l/chat/19%3A4b592aeaac7244fab8f54e6b92b8927e%40thread.v2/0?tenantId=ad5d7a84-4189-4a25-880c-927aca8cdbbe"
        },
        "contentType": "html",
        "message": "The website <b>www.nu.nl</b> is <u><b>DOWN</u></b>.",
        "options": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        0,
        192
      ],
      "id": "557f91c8-88f9-4330-93a7-328d035726aa",
      "name": "Create chat message",
      "webhookId": "abc5e3d3-14f0-42d2-8076-c1a7945f44cf",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "Jl2VWMdoU9y80KdG",
          "name": "Microsoft Teams account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -864,
        176
      ],
      "id": "d8ce7c51-644d-4bbb-b198-7028497e803b",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Is Site Up or Not?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Site Up or Not?": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create chat message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "d8f48f60-738c-4e35-b229-a261b608ee2a",
  "activeVersionId": null,
  "versionCounter": 3,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-26T12:22:42.802Z",
      "createdAt": "2026-01-26T12:22:42.802Z",
      "role": "workflow:owner",
      "workflowId": "ExGOxv3mJe2fXBsvLz_Ek",
      "projectId": "zlzPi5phsz14Nfbn",
      "project": {
        "updatedAt": "2026-01-23T21:11:21.880Z",
        "createdAt": "2026-01-23T21:11:21.880Z",
        "id": "zlzPi5phsz14Nfbn",
        "name": "Daan Stoeten <daan.stoeten@inlumi.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e1cf0262-d2a6-4fbd-b75a-e88d2b692514",
        "projectRelations": [
          {
            "updatedAt": "2026-01-23T21:11:21.880Z",
            "createdAt": "2026-01-23T21:11:21.880Z",
            "userId": "e1cf0262-d2a6-4fbd-b75a-e88d2b692514",
            "projectId": "zlzPi5phsz14Nfbn",
            "user": {
              "updatedAt": "2026-01-26T14:20:04.265Z",
              "createdAt": "2026-01-23T21:11:21.880Z",
              "id": "e1cf0262-d2a6-4fbd-b75a-e88d2b692514",
              "email": "daan.stoeten@inlumi.com",
              "firstName": "Daan",
              "lastName": "Stoeten",
              "personalizationAnswers": null,
              "settings": null,
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}
