workflows-export/SpHB8M7H5hH4H_UCO6NJN_PRTG_Alerts_Visual_Daily_Report.json
{
  "updatedAt": "2026-01-24T14:46:58.024Z",
  "createdAt": "2026-01-24T14:30:11.924Z",
  "id": "SpHB8M7H5hH4H_UCO6NJN",
  "name": "PRTG Alerts + Visual Daily Report",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prtg-alert",
        "options": {}
      },
      "name": "PRTG Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "2d6927ce-fafe-4a16-904f-68c92624b6b8",
      "webhookId": "11491896-f5f3-41f3-b0f3-abe77999bf76"
    },
    {
      "parameters": {
        "functionCode": "// Alerts لحظه‌ای و ثبت Downtime\nconst status = $json[\"status\"];\nconst device = $json[\"device\"];\nconst sensor = $json[\"sensor\"];\nconst reason = $json[\"message\"] || 'نامشخص';\nconst now = new Date();\n\nlet text = '';\nlet emoji = '';\nlet downData = $workflow.getGlobal('prtg_down') || {};\nlet history = $workflow.getGlobal('prtg_down_history') || {};\n\nconst key = device + '|' + sensor;\n\nif(status === 'Down') {\n  downData[key] = { start: now, reason: reason };\n  $workflow.setGlobal('prtg_down', downData);\n  emoji = '⚠️';\n  text = `${emoji} *PRTG Alert*: Sensor DOWN!\\n*Device:* ${device}\\n*Sensor:* ${sensor}\\n*Reason:* ${reason}\\n*Time:* ${now.toLocaleString()}`;\n} else if(status === 'Up') {\n  if(downData[key]) {\n    const start = new Date(downData[key].start);\n    const diffMins = (now - start) / 60000;\n    const downtime = diffMins.toFixed(2);\n    const downReason = downData[key].reason;\n\n    // تعیین Emoji بر اساس زمان Downtime\n    if(diffMins < 1) emoji = '✅';\n    else if(diffMins < 3) emoji = '⚠️';\n    else if(diffMins >= 5) emoji = '🔴';\n    else emoji = '⚠️';\n\n    // ثبت در history برای گزارش روزانه\n    if(!history[key]) history[key] = { device: device, sensor: sensor, totalDowntime: 0, count: 0, visual: '' };\n    history[key].totalDowntime += diffMins;\n    history[key].count += 1;\n    history[key].visual += emoji;\n    $workflow.setGlobal('prtg_down_history', history);\n\n    delete downData[key];\n    $workflow.setGlobal('prtg_down', downData);\n\n    text = `${emoji} *PRTG Notification*: Sensor UP\\n*Device:* ${device}\\n*Sensor:* ${sensor}\\n*Downtime:* ${downtime} دقیقه\\n*Reason:* ${downReason}\\n*Time:* ${now.toLocaleString()}`;\n  } else {\n    text = `ℹ️ *PRTG Notification*: Sensor UP but no previous DOWN record.\\n*Device:* ${device}\\n*Sensor:* ${sensor}\\n*Time:* ${now.toLocaleString()}`;\n  }\n}\n$json[\"telegram_text\"] = text;\nreturn $json;"
      },
      "name": "Prepare Alert & Track History",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "44a50360-d8a0-45f4-a382-839b30f31993"
    },
    {
      "parameters": {
        "chatId": "<YOUR_TELEGRAM_CHAT_ID>",
        "text": "={{$json[\"telegram_text\"]}}",
        "additionalFields": {}
      },
      "name": "Send Alert Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "id": "4317fc51-5b23-458d-9843-525bcf800216",
      "webhookId": "44d517cf-1a52-4c30-874e-5f108840edc3"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": []
        }
      },
      "name": "Daily Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        0,
        304
      ],
      "id": "d82c0d49-be7c-499e-a4ca-aeaf4a7ea0c5"
    },
    {
      "parameters": {
        "functionCode": "// آماده‌سازی گزارش روزانه بصری\nconst history = $workflow.getGlobal('prtg_down_history') || {};\nlet reportLines = [];\nfor (const key in history) {\n  const entry = history[key];\n  reportLines.push(`*${entry.device} - ${entry.sensor}*: ${entry.visual}  ${entry.count} قطعی، مجموع Downtime: ${entry.totalDowntime.toFixed(2)} دقیقه`);\n}\nconst reportText = reportLines.length > 0 ? `📊 *گزارش روزانه PRTG*\\n\\n${reportLines.join('\\n')}` : '📊 هیچ Downtime ثبت نشده است.';\n$json[\"telegram_text\"] = reportText;\nreturn $json;"
      },
      "name": "Prepare Visual Daily Report",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        208,
        304
      ],
      "id": "6295c4a2-d8c8-4347-bbed-c6bc75b9d631"
    },
    {
      "parameters": {
        "chatId": "<YOUR_TELEGRAM_CHAT_ID>",
        "text": "={{$json[\"telegram_text\"]}}",
        "additionalFields": {}
      },
      "name": "Send Visual Daily Report",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        400,
        304
      ],
      "id": "a76f717c-5b74-48a3-8f84-9c1526c92fc9",
      "webhookId": "a602bb56-6d03-4851-9af6-274c4a5e55bf"
    }
  ],
  "connections": {
    "PRTG Webhook": {
      "main": [
        [
          {
            "node": "Prepare Alert & Track History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Alert & Track History": {
      "main": [
        [
          {
            "node": "Send Alert Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Cron": {
      "main": [
        [
          {
            "node": "Prepare Visual Daily Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Visual Daily Report": {
      "main": [
        [
          {
            "node": "Send Visual Daily Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "219703cc-0e0e-421f-be45-1ad7beb5ae9a",
  "activeVersionId": null,
  "versionCounter": 3,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-24T14:30:11.924Z",
      "createdAt": "2026-01-24T14:30:11.924Z",
      "role": "workflow:owner",
      "workflowId": "SpHB8M7H5hH4H_UCO6NJN",
      "projectId": "8YNjh86Z6YtR2Bp7",
      "project": {
        "updatedAt": "2026-01-09T13:22:01.384Z",
        "createdAt": "2026-01-09T13:14:22.358Z",
        "id": "8YNjh86Z6YtR2Bp7",
        "name": "Wouter Bon <wouter.bon@inlumi.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "c08f4be4-c712-4d36-a5d7-ba76e5de4146",
        "projectRelations": [
          {
            "updatedAt": "2026-01-09T13:14:22.358Z",
            "createdAt": "2026-01-09T13:14:22.358Z",
            "userId": "c08f4be4-c712-4d36-a5d7-ba76e5de4146",
            "projectId": "8YNjh86Z6YtR2Bp7",
            "user": {
              "updatedAt": "2026-01-26T14:20:21.357Z",
              "createdAt": "2026-01-09T13:14:21.075Z",
              "id": "c08f4be4-c712-4d36-a5d7-ba76e5de4146",
              "email": "wouter.bon@inlumi.com",
              "firstName": "Wouter",
              "lastName": "Bon",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "g56KAd0SA1Gwj7Hw",
                "userActivatedAt": 1768577448131
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}
