workflows-export/zSGM3HdvM6PcviQkD9UV0_Daily_temperature_Update.json
{
  "updatedAt": "2026-01-26T14:27:05.268Z",
  "createdAt": "2026-01-26T12:26:32.477Z",
  "id": "zSGM3HdvM6PcviQkD9UV0",
  "name": "Daily temperature Update",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "cityName": "Utrecht,nl"
      },
      "type": "n8n-nodes-base.openWeatherMap",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "43ea7b19-128b-4754-8c20-6696b22bc576",
      "name": "OpenWeatherMap",
      "credentials": {
        "openWeatherMapApi": {
          "id": "wGiit5ft3SZ4Xfap",
          "name": "OpenWeatherMap account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chatMessage",
        "chatId": {
          "__rl": true,
          "value": "19:4b592aeaac7244fab8f54e6b92b8927e@thread.v2",
          "mode": "list",
          "cachedResultName": "N8N Test Chat (group)",
          "cachedResultUrl": "https://teams.microsoft.com/l/chat/19%3A4b592aeaac7244fab8f54e6b92b8927e%40thread.v2/0?tenantId=ad5d7a84-4189-4a25-880c-927aca8cdbbe"
        },
        "contentType": "html",
        "message": "=Today the temperature will be <b>{{ $json.main.temp }}째</b> celcius but it will feel like <b>{{ $json.main.feels_like }}째</b> celcius.</p>\n\nPut something warm on.",
        "options": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        704,
        -192
      ],
      "id": "4633de3d-aadc-41ee-93c9-db3810428863",
      "name": "Create chat message",
      "webhookId": "0c40ac88-d268-4dee-aeee-7d788cf15c6a",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "Jl2VWMdoU9y80KdG",
          "name": "Microsoft Teams account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8d9fd23a-6437-4eae-b0a7-9183a00c06c8",
              "leftValue": "={{ $json.main.feels_like }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "88af4ab7-48aa-4a6c-807a-6025b87ee738",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "chatMessage",
        "chatId": {
          "__rl": true,
          "value": "19:4b592aeaac7244fab8f54e6b92b8927e@thread.v2",
          "mode": "list",
          "cachedResultName": "N8N Test Chat (group)",
          "cachedResultUrl": "https://teams.microsoft.com/l/chat/19%3A4b592aeaac7244fab8f54e6b92b8927e%40thread.v2/0?tenantId=ad5d7a84-4189-4a25-880c-927aca8cdbbe"
        },
        "contentType": "html",
        "message": "=Today the temperature will be <b>{{ $json.main.temp }}째</b> celcius but it will feel like <b>{{ $json.main.feels_like }}째</b> celcius.</p>\n\nSHORTS WEATHER!!!",
        "options": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        720,
        96
      ],
      "id": "61b6d838-1849-4689-9477-aae37cd8aacc",
      "name": "Create chat message1",
      "webhookId": "0c40ac88-d268-4dee-aeee-7d788cf15c6a",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "Jl2VWMdoU9y80KdG",
          "name": "Microsoft Teams account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "ca2f30f2-1720-4615-b56b-17550952cf2a",
      "name": "Schedule Trigger"
    }
  ],
  "connections": {
    "OpenWeatherMap": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create chat message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create chat message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "OpenWeatherMap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Amsterdam",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "35f09608-463d-470a-9730-98ea13fda21f",
  "activeVersionId": null,
  "versionCounter": 5,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-26T12:26:32.477Z",
      "createdAt": "2026-01-26T12:26:32.477Z",
      "role": "workflow:owner",
      "workflowId": "zSGM3HdvM6PcviQkD9UV0",
      "projectId": "zlzPi5phsz14Nfbn",
      "project": {
        "updatedAt": "2026-01-23T21:11:21.880Z",
        "createdAt": "2026-01-23T21:11:21.880Z",
        "id": "zlzPi5phsz14Nfbn",
        "name": "Daan Stoeten <daan.stoeten@inlumi.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e1cf0262-d2a6-4fbd-b75a-e88d2b692514",
        "projectRelations": [
          {
            "updatedAt": "2026-01-23T21:11:21.880Z",
            "createdAt": "2026-01-23T21:11:21.880Z",
            "userId": "e1cf0262-d2a6-4fbd-b75a-e88d2b692514",
            "projectId": "zlzPi5phsz14Nfbn",
            "user": {
              "updatedAt": "2026-01-26T14:20:04.265Z",
              "createdAt": "2026-01-23T21:11:21.880Z",
              "id": "e1cf0262-d2a6-4fbd-b75a-e88d2b692514",
              "email": "daan.stoeten@inlumi.com",
              "firstName": "Daan",
              "lastName": "Stoeten",
              "personalizationAnswers": null,
              "settings": null,
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}
